.page.theme_light {
  --record-decor-visibility: hidden;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-contrast-color: var(--main-text-color);
  --logo-color: #ffc2e6;
  --logo-shadow-color: var(--accent-color);
  --secondary-color: var(--main-text-color);
  --secondary-translucent-color: rgba(50, 49, 45, 0.40);
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --record-decor-visibility: hidden;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-contrast-color: var(--main-text-color);
    --logo-color: #ffc2e6;
    --logo-shadow-color: var(--accent-color);
    --secondary-color: var(--main-text-color);
    --secondary-translucent-color: rgba(50, 49, 45, 0.40);
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
  }
}